<div class="container">
    <div>
    <h2>Ajouter un Vol :</h2>
    </div>
    
    
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        
            <label >Agence</label>
            <input type="text" [(ngModel)]="newVol.agence" name="agence" class="form-control">
            </div>
    <div class="col-sm-2 col-md-2 col-lg-2">

    <label >ID Vol</label>
    <input type="text" [(ngModel)]="newVol.idVol"name="idVol" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Depart</label>
    <input type="time"[(ngModel)]= "newVol.Depart" name="Depart" class="form-control">
    </div>
    
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Destination</label>
    <input type="text" [(ngModel)]= "newVol.destination" name="destination" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >etat</label>
    <input type="string" [(ngModel)]= "newVol.etat" name="etat" class="form-control">
    </div>
    <div class="mt-2">
    <button type="submit" (click)="addVol()"class="btn btn-success">Ajouter</button>
    </div>
    </form>
    
    </div>
